@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* { outline: red 1px solid; } */

body {
    background-color: #82ddb5;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
    padding: 0;
    


}

.parent {
    display: flex;
}



#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color:white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 350px;
    
}

#logo {
    max-width: 360px;
    width: 100%;

}

#description, #date {
    max-width: 270px;
    width: 100%;
}

.register_btn {
    background-color: #e43;
    border: 2px dashed #a43;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;

}

#why {
    background-color: #6B9;
    margin-top: 0px;
    



}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#what {
    
    background-color: rgba(250, 235, 215, 0.756);
    opacity: 1;
}

#sponsor_logos {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

#when{
    color: #fff;
}

#when {
    margin-top: 0px;
    background-image: url(img/wires.png);
    background-color:rgba(0, 90, 128, 0.559) ;
    text-align: center;
    list-style-position: inside;
    
}

#where {
    margin-top: 0px;
    background-image: url(img/map.gif);
    height: 500px;
    background-size: cover;
    justify-content: center;
}

#who {
    background-color: aliceblue;
    
}

#footer {
    height: 100;
    display: flex;
    justify-content: center;
}